<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://raw.githubusercontent.com/gustavoguanabara/html-css/master/desafios/modulo-01/d002/imagens/favicon.ico"
        type="image/x-icon">
    <title>HTML-CSS</title>
</head>

<body style="background-color: black;">

    <h1 style="text-align: center; color: azure;">HTML-CSS Course</h1>
    <div style="display: flex; justify-content: center;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/epDCjksKMok?si=Ojo8jGckBY4qdldf"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <h4 style="text-align: center; color: azure;">Watch the complete course</h4>
    <a href="../index.html" style="display: flex; justify-content: center;"><img
            src="https://github.com/gustavoguanabara/html-css/blob/master/desafios/modulo-01/d009/imagens/voltar.png?raw=true"
            alt="Back"></a>

</body>

</html>